---
notes: The column grid is designed to be incredibly flexible to allow for countless permutations of layouts while still retaining some sense of order. Since each grid unit (a 21px wide and 44px high box) is already so small, there is no traditional gutter. Implement the grid judiciously and don’t abuse its flexibility.
---
<div class="column-grid">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<nav>Sidebar Navigation Area</nav>
	<main>Main Content Area</main>
	<aside>Aside Area</aside>
</div>