.inputWrapper{
	position: relative;
	&.text { width: 231px; }
	&.search {
		width: 231px;
		display: flex;
		flex-flow: row wrap;

		label {
			flex-basis: 100%;
		}
	}
	&.textarea { width: 357px; }
	&.select { width: 189px; }
}

.requiredInput {
	display: flex;
	justify-content: space-between;

	&::after {
		content: 'REQUIRED';
		display: inline-block;
		font-size: 8px;
		color: map-get(map-get($colors, neutral-lights), white);
		line-height: 11px;
		background-color: map-get(map-get($colors, danger), primary);
		padding: 0 3px;
		border-radius: 2px;
		letter-spacing: 0.05em;
	}
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

legend {
	@extend p.label;
	padding: 0;
	margin-bottom: 11px;
}

label {
	display: block;
	@extend p.label;
	line-height: 11px;
	margin-bottom: 7px;
}

fieldset.radio_buttons, fieldset.checkbox_buttons {
	label {
		color: map-get(map-get($colors, neutral-darks), dark-one);
		margin-bottom: 11px;
	}
}

input[type="radio"], input[type="checkbox"] {
	margin: 0 13px 0 0;
}

input[type="text"], input[type="search"], textarea {
	font-size: inherit;
	box-sizing: border-box;
	line-height: inherit;
	padding: 4px 9px;
	border: 1px solid map-get(map-get($colors, neutral-darks), dark-four);
	border-radius: 2px;
}

input[type="text"], input[type="search"] {
	height: 30px;
	font-family: 'Franklin Gothic Medium', sans-serif;
	width: 100%;
}

input[type="search"] {
	border-right: none;
	border-radius: 2px 0 0 2px;
	flex: 1;
}

button:hover {
	cursor: pointer;
	background-color: lighten(map-get(map-get($colors, success), primary), 3%);
}

textarea {
	padding: 6px 9px;
	width: 100%;
	min-height: 128px;
	max-height: 400px;
	resize: vertical;
	font-family: 'Franklin Gothic Book', sans-serif;
}

select {
	width: 100%;
	height: 30px;
	@extend p.label;
	color: map-get(map-get($colors, neutral-darks), dark-one);
	box-sizing: border-box;
	padding: 4px 9px;
	-webkit-appearance: none;
	border: 1px solid map-get(map-get($colors, neutral-darks), dark-four);
	border-radius: 2px;
	background-color: map-get(map-get($colors, neutral-lights), white);
}

.inputWrapper.select::after {
	content: '';
	width: 11px;
	height: 6px;
	position: absolute;
	top: 31px;
	right: 9px;
	background: url('../images/disclosure-arrow.svg');
}

.searchButton {
	border: 0;
	background: map-get(map-get($colors, success), primary);
	font-family: 'Franklin Gothic Medium', sans-serif;
	font-size: 14px;
	padding: 8px 9px;
	line-height: 1em;
	border-radius: 0 2px 2px 0;
	color: map-get(map-get($colors, neutral-lights), white);
}