body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Caecilia LT Pro', sans-serif;
	font-size: 16px;
	line-height: 22px;

	color: map-get(map-get($colors, neutral-darks), dark-one);
}

h1 {
	font-size: 50px;
	line-height: 55px;

	color: map-get(map-get($colors, primary), primary);

	margin-bottom: 22px;
}

h2 {
	font-size: 38px;
	line-height: 44px;

	color: map-get(map-get($colors, primary), shade);

	margin-bottom: 22px;
}

h3 {
	font-style: italic;
	font-weight: 200;
	font-size: 28px;
	line-height: 33px;

	margin-bottom: 22px;
}

h4 {
	font-family: 'Franklin Gothic Medium', sans-serif;
	font-size: 21px;
	line-height: 22px;

	color: map-get(map-get($colors, quaternary), primary);

	margin-bottom: 22px;
}

p {
	margin: 0 0 22px 0;
}

p.lead, span.lead {
	font-weight: bold;

	color: map-get(map-get($colors, success), primary);
}

p.secondary, span.secondary {
	font-style: italic;
	font-size: 14px;

	color: map-get(map-get($colors, neutral-darks), dark-two);
}

p.label, span.secondary {
	font-family: 'Franklin Gothic Medium', sans-serif;
	font-size: 14px;
	line-height: 22px;

	color: map-get(map-get($colors, success), primary);
}

blockquote {
	display: inline-block;
	margin: 0;

	.wrapper {
		font-style: italic;
		font-weight: bold;

		color: map-get(map-get($colors, neutral-darks), dark-three);
		background-color: map-get(map-get($colors, neutral-lights), light-one);

		position: relative;
		padding: 11px 20px 15px 70px;

		&::before {
			content: '“';
			display: block;
			position: absolute;
			top: 50px;
			left: 16px;

			font-style: italic;
			font-weight: bold;
			font-size: 69px;

			color: map-get(map-get($colors, secondary), tint);
		}
	}

	cite {
		display: block;
		@extend p.label;
		font-style: normal;
		text-align: right;
		line-height: 11px;
		margin-top: 7px;

		&::before {
			content: "—";
		}
	}
}